@charset "utf-8";
/*------------------------*/
/* Reset                  */
/*------------------------*/
/*
  A CSS resey style sheet is a list of rules that 'reset' all of 
  the default browser styles

  -webkit- means the follwing property is gointo rendered understood 
  by chrome, safari and edge.
 */

   *, *::before, *::after {
      box-sizing: border-box;
   }
   * {
      margin: 0;
      padding: 0;   
      font-family: inherit;
      outline: none;
      border-style: none;
      vertical-align: baseline;
   }

   html {
      height: 100%;
      font-family: 'Inter', Lato, Arial, sans-serif;
      font-size: 100%;
      font-weight: 400;
      line-height: 1.5;
      text-rendering: geometricPrecision;
      /* ???*/
      -webkit-font-smoothing: antialiased;
   }

   body {
      height: 100%;
   }

   ul[role=list], ol[role=list] {
      list-style: none;
   }

   img, picture, video, canvas, svg {
      display: block;
      max-width: 100%;
   }

   p, h1, h2, h3, h4, h5, h6 {
      overflow-wrap: break-word;
   }

   li, a, i, figure, img, button,
   input[type=button], input[type=submit] {
      -webkit-user-select: none;
         -moz-user-select: none;
              user-select: none;
   }

   input, text, button {
      -webkit-appearance: none;
         -moz-appearance: none;
              appearance: none;
   }
   
   input[type=button], 
   input[type=submit], 
   input[type=reset] {
      cursor: pointer;
   }

